# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/am

# Environment Variables
.env
.env.*
*.env

# Virtual Environment
venv/
.env/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.vscode

# PyCharm
*.idea/
.idea/
*.iml
*.iws
